@import "tailwindcss";

@theme {
  --font-display: "Inter", sans-serif;

  --color-primary: #2563EB;
  --color-background-light: #F8FAFC;
  --color-background-dark: #111621;
  --color-emerald: #10B981;
  --color-amber: #F59E0B;
  --color-rose: #F43F5E;
  --color-stone-gray: #475569;
  --color-off-black: #0d121b;

  --radius-default: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;

  --shadow-smooth: 0 4px 12px rgba(0,0,0,0.05);
}

body {
  font-family: var(--font-display);
  background-color: var(--color-background-light);
  color: rgb(15 23 42); /* slate-900 */
  min-height: 100vh;
}